.Project__container {
    margin: 20px 20px 0 0;
    height: 280px;
    width: 370px;
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(1px);

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Project__project_details {
    background: none;

    height: 215px;
    width: 265px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.Project__project_details img {
    background: none;
}

.Project__project_details h3 {
    background: none;
    margin-top: 5px;
    color: white;
    text-decoration: none
;
}