.AboutComponent__container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 150px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AboutComponent__info_container {
    width: 40%;
    position: relative;

}

.AboutComponent__info_container h1 {
    font-size: 64px;
}

.AboutComponent__info_container p {
    margin-top: 20px;
}

.AboutComponent__info_span {
    color: #00ADB5;
}

.AboutComponent__background_element1 {
    position: absolute;
    top: 0;
    right: 0;
}

.AboutComponent__background_element2 {
    position: absolute;
    top: -50px;
    left: 0;
}

.AboutComponent__background_element3 {
    position: absolute;
    bottom: -100px;
    left: 300px;
    transform: rotate(163deg);
}