/*
html {

    scroll-behavior: smooth;
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #00ADB5;
    --color-4: #EEEEEE;
}

.section-container {
    margin: auto;
    color: white;
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
}

.full-width {
    color: white;
    font-family: "Poppins", sans-serif;
    background: url("./assets/project-assets/recent-works-bg.png");
}

.full-screen {
    min-height: 100vh;
    margin: auto;
}

#hero {
    min-height: 80vh;
}

#about {
    display: flex;
}

@media only screen and (max-width: 1520px) {
    .section-container {
        max-width: calc(100vw - 100px);
    }

    .full-screen {
        height: auto;
        margin: auto;
    }
}

@media only screen and (max-width: 1520px) {
    .section-container {
        max-width: calc(100vw - 50px);
    }
}
 */