html { scroll-behavior: smooth; }


.section-container {
    margin: auto;
    color: white;
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
}

.full-screen {
    height: 90vh;
}

#about {
    display: flex;
}

.full-width {
    color: white;
    font-family: "Poppins", sans-serif;
    background: url("./assets/project-assets/recent-works-bg.png");
}
