html { scroll-behavior: smooth; }


.section-container {
    margin: auto;
    color: white;
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
}

.full-width {
    color: white;
    font-family: "Poppins", sans-serif;
    background: url("./assets/project-assets/recent-works-bg.png");
}

.full-screen {
    height: 100vh;
    margin: auto;
}

#hero {
    height: 80vh;
}

#about {
    display: flex;
}

#recent-works {
}

@media only screen and (max-width: 1520px) {
    .section-container {
        max-width: calc(100vw - 100px);
    }

    .full-screen {
        height: auto;
        margin: auto;
    }
}

@media only screen and (max-width: 1520px) {
    .section-container {
        max-width: calc(100vw - 50px);
    }
}