.Contact__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 150px 0;
    justify-content: space-between;
}

.Contact__row {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.Contact__img_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.Contact__arrow {
    transform: rotate(-30deg);
    height: auto;
}

.Contact__main_img {
    height: 350px;
}

.Contact__img_container h1 {
    font-size: 52px;
}

.Contact__text_blue {
    color: #00ADB5;
}

.Contact__form_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Contact__form_basic_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    column-gap: 30px;
}

.Contact__form_col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.Contact__form_col label {
    font-size: 18px;
}

.Contact__message {
    height: 250px;
    width: 100%;

    max-height: 250px;
    min-height: 250px;

    min-width: 100%;
    max-width: 100%;
}

.Contact__form_label {
    font-weight: bold;
}

.Contact__input_styling {
    padding: 24px 16px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    font-size: 20px;
    color: rgba(238, 238, 238, 0.5);
    border: none;
    margin-top: 10px;
    width: 100%;

}

.Contact__input_styling:focus {
    outline: none;
}

.Contact__submit_button {
    padding: 10px 32px;
    color: white;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin: 20px 0;
    background: #00ADB5;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Contact__submit_button:hover {
    cursor: pointer;
}

.Contact__submit_button img{
    background: none;
    margin-left: 6px;

}

@media only screen and (max-width: 1130px) {
    .Contact__container {
        flex-direction: column;
        margin: auto;
    }

    .Contact__form_container {
        width: 100%;
        margin-top: 50px;
    }
}